#home, body {
  /* Purple Love */
  background: #cc2b5e;
  background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
  background: linear-gradient(to right, #753a88, #cc2b5e);
  overflow-x: hidden;
}

#nav-items li a {
  color: white;
}

#loading {
  height: 80vh;
}

#main {
  max-width: 100%;
  margin: 0 auto;
}

#home {
  max-width: 90%; 
  margin: 0 auto 2.5rem;
}

#home img {
  max-width: 220px;
}

.skills-container, .portfolio-container, .pie-foto {
  max-width: 90%; 
  margin: 0 auto;
}

#skills p small {
  color: #f3d2ff;
  font-weight: 400;
}

.dev-icons {
  width: 73px;
  height: 73px;
  padding: 10px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: 3px;
  border-radius: 20px;
  background-color: #472355;
}

#portfolio, #skills {
  background: #ad2450;
  background: -webkit-linear-gradient(to right, #542a62, #ad2450);
  background: linear-gradient(to right, #542a62, #ad2450);
  height: auto;
  clip-path: polygon(50% 1%, 100% 0%, 100% 100%, 0 100%, 0 0);
}

#portfolio h2{
  background: #ad2450;
  background: -webkit-linear-gradient(to right, #542a62, #ad2450);
  background: linear-gradient(to right, #542a62, #ad2450);
  z-index: 100; 
}

#portfolio div.card {
  border-radius: 20px;
  min-height: 260px;
}

.project-image {
  max-height: 145px;
}

#contacto {
  background: #ad2450;
  background: -webkit-linear-gradient(to right, #542a62, #ad2450);
  background: linear-gradient(to right, #542a62, #ad2450);
  height: auto;
}

#contacto div {
  max-width: 90%; 
  margin: 0 auto; 
  padding-bottom: 4rem;
}

.btn-contacto {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #472355; 
  color: #fae8ff;
}

.btn-contacto:hover {
  background-color: #fae8ff;
  color: #472355;
}

footer {
  background: #901d42;
  background: -webkit-linear-gradient(to right, #3c1e46, #901d42);
  background: linear-gradient(to right, #3c1e46, #901d42);
}

#footer a{
  text-decoration: none;
}

.social-network-icon {
  width: 29px;
}

.link {
  text-decoration: none;
  color: white;
}

.borde {
  outline: 1px solid black;
}

.cont-fl {
  display: flex;
  flex-wrap: wrap;
}

.see-more {
  color:rgb(65, 174, 225);
  text-decoration: none;
}

.see-more:hover {
  color: rgb(113, 137, 211);
  text-decoration: none;
}

/* Menu clip-path */

.contenedor-menu {
  background: #901d42;
  background: -webkit-linear-gradient(to right, #3c1e46, #901d42);
  background: linear-gradient(to right, #3c1e46, #901d42);
  color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  top: 0;
  clip-path: circle(60px at 50% 0);
  /* clip-path: polygon(0 0, 100% 0%, 100% 70px, 0% 70px); */
  transition: .7s ease all;
}

.contenedor-menu.active {
  clip-path: circle(200% at 50% 0);
  /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); */
}

.btn-abrir-menu {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.btn-abrir-menu:hover {
  animation: rotar 1.5s alternate;
}

@keyframes rotar {
  0% {transform: rotate(0deg);}
  20% {transform: rotate(10deg);}
  40% {transform: rotate(-15deg);}
  60% {transform: rotate(15deg);}
  80% {transform: rotate(-10deg);}
  100% {transform: rotate(0deg);}
}

.elementos-navegacion {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.elementos-navegacion ul {
  padding-left: 0;
}

.elementos-navegacion li {
  display: none;
  list-style: none;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.contenedor-menu.active li {
  display: block;
  animation: desplazamiento 1s ease;
}

@keyframes desplazamiento {
  from {transform: translateY(1000px);}
  to {transform: translateY(0);}
}

.elementos-navegacion li a {
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 2px;
  padding: 15px 30px;
  color: #f8f8f8;
  text-transform: uppercase;
  transition: .2s ease all;
}

.elementos-navegacion li a:hover {
  background: #000;
}
@media (min-width: 992px) {
  nav {
      background: #cc2b5e;
      background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
      background: linear-gradient(to right, #753a88, #cc2b5e);
  }
}

.hide {
  display: none;
}

#parallax-hobby {
  width: 100%;
  height: 400px;
  background-image: url('/src/assets/static/camt-evr_opt.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
